body {
    background: linear-gradient(to right, #1e3c72, #2a5298);
    color: white;
    text-align: center;
    padding: 20px;
}

button {
    background-color: rgba(210, 50, 50, 0.801);
    color: white;
    scale: 1.3;
    
}


